01-basic-agent/worflow.json
{
  "name": "01 - Basic Agent (Gemini)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "basic-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bd0a21ed-a12f-4122-8bb4-b432c476be02",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1008,
        -272
      ],
      "webhookId": "basic-agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f401e347-2393-407b-af26-0df43b8d062f",
      "name": "Extract Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -768,
        -272
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "62fa9f58-47c3-49bb-abd5-8e10ef593c73",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -160,
        -272
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "8e38f3c5-3aef-41ad-a3e7-ff762a8f5d2e",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        48,
        -272
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.0-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.0-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.body.message }}"
            },
            {
              "content": "You are a helpful AI assistant. Provide clear, concise, and friendly responses to user queries. If you're unsure about something, acknowledge it honestly.\n",
              "role": "model"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -560,
        -272
      ],
      "id": "ad8c6a89-775d-493f-9aa9-00d0a410e2db",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "x2rNqcjdpDHN14Nw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "13e9fbb0-8efd-4ae6-849d-3ce836ec5ffc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b40d0b1748e87a0f7c95ef66d14c7a4040da4ecd08e864408d92afff5e1c632f"
  },
  "id": "u6yMKfBlgJPdlKQQ",
  "tags": []
}