02-api-integration/workflow.json
{
  "name": "Weather AI Agent - Gemini 2.5 Flash",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "e2f7245a-25b2-430c-86ba-bb9fbc176ae3",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -640,
        192
      ],
      "webhookId": "weather-chat-gemini-webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful weather assistant. When users ask about weather in any city, use the OpenWeatherMap tool to get current weather information and provide a clear, friendly response with temperature, conditions, and any other relevant details."
        }
      },
      "id": "853f1f05-7dae-4c0c-abba-8ebe0ba5281b",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -416,
        192
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.7
        }
      },
      "id": "4981cf35-1582-458e-840d-40bd4cf66704",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -416,
        464
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "x2rNqcjdpDHN14Nw",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "cityName": "={{ $fromAI('City', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.openWeatherMapTool",
      "typeVersion": 1,
      "position": [
        -224,
        464
      ],
      "id": "673bb8b9-7f65-43cd-b783-04e07ef02f5f",
      "name": "OpenWeatherMap",
      "credentials": {
        "openWeatherMapApi": {
          "id": "TIO118nrryUSgewz",
          "name": "OpenWeatherMap account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0557fc82-8227-4c0e-9f56-eef9d15dbb8a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b40d0b1748e87a0f7c95ef66d14c7a4040da4ecd08e864408d92afff5e1c632f"
  },
  "id": "FNphPIaKHTYKEetw",
  "tags": []
}